:root {
  --green1: rgb(164, 255, 107);
  --green10: rgb(149, 255, 92);
  --green20: rgb(133, 253, 77);
  --green30: rgb(118, 238, 62);
  --green40: rgb(102, 223, 45);
  --green50: rgb(85, 208, 24);
  --green60: rgb(67, 193, 0);
  --green70: rgb(47, 179, 0);
  --green80: rgb(20, 165, 0);
  --green90: rgb(0, 151, 0);
  --green100: rgb(0, 137, 0);
  --green200: rgb(0, 124, 0);
  --green300: rgb(0, 110, 0);
  --green400: rgb(0, 97, 0);
  --green500: rgb(0, 84, 0);
  --green600: rgb(0, 71, 0);
  --green700: rgb(0, 58, 0);
  --green800: rgb(0, 48, 0);
  --green900: rgb(0, 40, 0);
  --indigo0: rgb(255, 225, 255);
  --indigo10: rgb(245, 210, 255);
  --indigo20: rgb(229, 196, 255);
  --indigo30: rgb(213, 182, 255);
  --indigo40: rgb(197, 168, 255);
  --indigo50: rgb(180, 154, 255);
  --indigo60: rgb(164, 140, 255);
  --indigo70: rgb(147, 127, 255);
  --indigo80: rgb(131, 114, 255);
  --indigo90: rgb(114, 101, 255);
  --indigo100: rgb(96, 88, 255);
  --indigo200: rgb(76, 75, 251);
  --indigo300: rgb(54, 63, 236);
  --indigo400: rgb(22, 51, 221);
  --indigo500: rgb(0, 39, 206);
  --indigo600: rgb(0, 27, 191);
  --indigo700: rgb(0, 15, 177);
  --indigo800: rgb(0, 4, 163);
  --indigo900: rgb(0, 0, 149);
  --lime0: rgb(114, 255, 208);
  --lime10: rgb(96, 255, 194);
  --lime20: rgb(77, 254, 180);
  --lime30: rgb(56, 239, 166);
  --lime40: rgb(26, 224, 152);
  --lime50: rgb(0, 209, 139);
  --lime60: rgb(0, 194, 125);
  --lime70: rgb(0, 180, 112);
  --lime80: rgb(0, 166, 100);
  --lime90: rgb(0, 152, 87);
  --lime100: rgb(0, 138, 75);
  --lime200: rgb(0, 124, 63);
  --lime300: rgb(0, 111, 51);
  --lime400: rgb(0, 97, 40);
  --lime500: rgb(0, 84, 28);
  --lime600: rgb(0, 71, 17);
  --lime700: rgb(0, 59, 4);
  --lime800: rgb(0, 48, 0);
  --lime900: rgb(0, 41, 0);
  --neutral0: rgb(254, 255, 255);
  --neutral10: rgb(239, 240, 240);
  --neutral20: rgb(225, 225, 225);
  --neutral30: rgb(210, 211, 211);
  --neutral40: rgb(196, 197, 197);
  --neutral50: rgb(182, 183, 183);
  --neutral60: rgb(168, 169, 169);
  --neutral70: rgb(154, 155, 155);
  --neutral80: rgb(141, 142, 142);
  --neutral90: rgb(128, 129, 129);
  --neutral100: rgb(115, 116, 116);
  --neutral200: rgb(102, 103, 103);
  --neutral300: rgb(90, 91, 91);
  --neutral400: rgb(78, 79, 79);
  --neutral500: rgb(66, 67, 67);
  --neutral600: rgb(54, 55, 55);
  --neutral700: rgb(43, 44, 44);
  --neutral800: rgb(33, 33, 33);
  --neutral900: rgb(23, 23, 23);
  --orange0: rgb(255, 208, 166);
  --orange10: rgb(255, 193, 152);
  --orange20: rgb(255, 179, 139);
  --orange30: rgb(255, 164, 126);
  --orange40: rgb(255, 150, 112);
  --orange50: rgb(255, 136, 99);
  --orange60: rgb(255, 121, 87);
  --orange70: rgb(255, 107, 74);
  --orange80: rgb(241, 93, 62);
  --orange90: rgb(225, 79, 50);
  --orange100: rgb(209, 65, 38);
  --orange200: rgb(192, 50, 26);
  --orange300: rgb(176, 33, 13);
  --orange400: rgb(160, 11, 1);
  --orange500: rgb(144, 0, 0);
  --orange600: rgb(129, 0, 0);
  --orange700: rgb(114, 0, 0);
  --orange800: rgb(100, 0, 0);
  --orange900: rgb(87, 0, 0);
  --pink0: rgb(255, 189, 255);
  --pink10: rgb(255, 174, 255);
  --pink20: rgb(255, 159, 255);
  --pink30: rgb(255, 143, 255);
  --pink40: rgb(255, 128, 255);
  --pink50: rgb(255, 112, 255);
  --pink60: rgb(255, 97, 243);
  --pink70: rgb(255, 80, 228);
  --pink80: rgb(240, 63, 213);
  --pink90: rgb(225, 43, 199);
  --pink100: rgb(210, 12, 185);
  --pink200: rgb(194, 0, 171);
  --pink300: rgb(179, 0, 157);
  --pink400: rgb(164, 0, 143);
  --pink500: rgb(149, 0, 130);
  --pink600: rgb(134, 0, 117);
  --pink700: rgb(119, 0, 104);
  --pink800: rgb(104, 0, 91);
  --pink900: rgb(90, 0, 78);
  --red0: rgb(255, 193, 175);
  --red10: rgb(255, 178, 162);
  --red20: rgb(255, 163, 148);
  --red30: rgb(255, 149, 135);
  --red40: rgb(255, 134, 122);
  --red50: rgb(255, 118, 108);
  --red60: rgb(255, 103, 96);
  --red70: rgb(255, 88, 83);
  --red80: rgb(255, 72, 71);
  --red90: rgb(241, 55, 59);
  --red100: rgb(225, 35, 48);
  --red200: rgb(208, 2, 36);
  --red300: rgb(192, 0, 25);
  --red400: rgb(175, 0, 15);
  --red500: rgb(159, 0, 2);
  --red600: rgb(143, 0, 0);
  --red700: rgb(127, 0, 0);
  --red800: rgb(112, 0, 0);
  --red900: rgb(98, 0, 0);
  --yellow0: rgb(255, 251, 108);
  --yellow10: rgb(255, 236, 94);
  --yellow20: rgb(255, 222, 80);
  --yellow30: rgb(247, 208, 65);
  --yellow40: rgb(231, 194, 49);
  --yellow50: rgb(216, 179, 31);
  --yellow60: rgb(200, 166, 4);
  --yellow70: rgb(185, 152, 0);
  --yellow80: rgb(170, 139, 0);
  --yellow90: rgb(155, 126, 0);
  --yellow100: rgb(140, 113, 0);
  --yellow200: rgb(126, 101, 0);
  --yellow300: rgb(112, 89, 0);
  --yellow400: rgb(99, 77, 0);
  --yellow500: rgb(86, 65, 0);
  --yellow600: rgb(75, 53, 0);
  --yellow700: rgb(65, 42, 0);
  --yellow800: rgb(57, 31, 0);
  --yellow900: rgb(51, 19, 0)
}

body[data-theme='dark'] {
		--dark: #16161e;
		--light: #252530;
		--gradient: linear-gradient(-20deg, var(--neutral900) 0%, var(--neutral100) 96.92%);
		--outline-strong: #81818188;
		--outline: #81818122;
		--text-light: #7c8092;
		--text: #7c8092;
		--text-strong: #b2b8d2;
		--shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
			0px 4px 4px rgba(0, 0, 0, 0.25);
	}

body {
		--dark: #16161e;
		--light: var(--neutral800);
    --ease: cubic-bezier(.82,0,.18,1);
		--gradient: linear-gradient(-20deg, var(--neutral900) 0%, var(--neutral800) 96.92%);
		--outline-strong: var(--neutral100);
		--outline: var(--neutral500);
		--text-light: #7c8092;
		--text: #7c8092;
		--text-strong: #b2b8d2;
		--shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
			0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	body {
		background: var(--neutral900);
		background-size: contain;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	html {
		height: 100%;
		font-family: 'Nunito', sans-serif;
		background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjEiPjwvcmVjdD4KPC9zdmc+'), var(--neutral900);
		background-blend-mode: screen;
	}
