body[data-theme='dark'] {
		--dark: #16161e;
		--light: #252530;
		--gradient: linear-gradient(-20deg, #16161e 0%, #252530 96.92%);
		--outline-strong: #81818188;
		--outline: #81818122;
		--text-light: #7c8092;
		--text: #7c8092;
		--text-strong: #b2b8d2;
		--shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
			0px 4px 4px rgba(0, 0, 0, 0.25);
	}

body {
		--dark: #16161e;
		--light: #252530;
    --ease: cubic-bezier(.82,0,.18,1);
    --neutral900: #0C0D0D;
    --neutral400: #252530;
    --neutral100: #4B4E5A;
		--gradient: linear-gradient(-20deg, #16161e 0%, #252530 96.92%);
		--gradient: linear-gradient(-20deg, #16161e 0%, #252530 96.92%);
		--outline-strong: #81818188;
		--outline: #81818122;
		--text-light: #7c8092;
		--text: #7c8092;
		--text-strong: #b2b8d2;
		--shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
			0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	body {
		/* background: var(--gradient); */
		/* background-size: contain; */
		height: 100%;
		margin: 0;
		padding: 0;
	}

	html {
		height: 100%;
		font-family: 'Nunito', sans-serif;
		background-image: url('data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjEiPjwvcmVjdD4KPC9zdmc+'), var(--neutral900);
		background-blend-mode: screen;
	}
